<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-tra-color">
  <a class="navbar-brand col-lg-1 col-sm-3 col-3 custom-logo" href="#">
      <img src="assets/images/Iqomi Logo_White.png" alt="" width="70%" height="auto" >
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"  id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="./">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" routerLink="./about">About</a>
      </li>
    </ul>
  </div>
</nav>
