<footer class="section footer-classic context-dark bg-image footer-bg-color footer-text-color mt-4">
  <div class="container  pt-3 pb-5">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
          <ul class="footer-len-1">
            <li class="logo"><a class="footer-logo" href="index.html"><img src="assets/images/Iqomi Logo_White.png" alt="" height="auto" class="footer-logo" ></a></li>
            <li class="footsub">Contacts:<br>
              +91-9137712031</li>
            <li class="footsub">email:<br>
              <a href="mailto:support@iqomi.com">support@iqomi.com</a></li>
            </ul>
            <ul class=" footsub">
              <li class="p-1"><img src="assets/images/facebook-icon.png" alt="" width="100%" height="auto" ></li>
              <li class="p-1"><img src="assets/images/twitter-icon.png" alt="" width="100%" height="auto" ></li>
              <li class="p-1"><img src="assets/images/insta-icon.png" alt="" width="100%" height="auto" ></li>
            </ul>

      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-12 footer-len-2">
          <ul class="nav-list">
              <li><a href="#">IQOMI FOR MICE</a></li>
              <li><a href="#">TECHNOLOGY IN MICE</a></li>
              <li><a href="#">NEWS & MEDIA</a></li>
              <li><a href="#">BLOG</a></li>
            </ul>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12  footer-len-2">
        <ul class="nav-list">
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">FAQ’S</a></li>
        </ul>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-12  footer-len-2">
          <ul class="nav-list">
            <li><a href="#">TERMS & CONDITIONS</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-8 col-12 footer-len-4 mt-sm-5 mt-md-0">
            <ul class="nav-list">
              <li class="foot-head-text">Subscribe to our Newsletter</li>
              <li><input type="text" name="firstName" value="" class="w-100"></li>
              <li class="footsub"><button class="submit">Submit</button></li>
              <li class="footsub">Copyright ©2018 IQOMI</li>
            </ul>
          </div>
    </div>
  </div>


</footer>
