#receipeDetails {
    background: url(../../images/homebackground.jpg);
    background-size: cover;
    min-height:100vh;
}

#receipeDetails .media{
  background:rgba(0,0,0,0.5);
  box-shadow:0px 0px 20px 10px rgba(8, 8, 8, 0.9);
  border:1px solid #fff;
}
