{{#contentFor 'pageStyles'}}
  <link rel="stylesheet" href="pages/css/category.css" />
{{/contentFor}}

<section id="receipeCategories" class="h-100">
  <div class="container-fluid">
    <div class="category-head pt-5 pb-5">
      <h1 class="text-white text-center mb-0">Receipe Categories</h1>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12">
            <div id="custom-search-input" class="float-right mb-3">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-lg mt-1 border-0" type="button">
                        <i class="fas fa-search"></i>
                      </button>
                    </span>
                </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/sypxpx1515365095.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Brown Stew Chicken</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/uuuspp1511297945.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken & mushroom Hotpot</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/syqypv1486981727.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Alfredo Primavera</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/wruvqv1511880994.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Basquaise</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/1529446352.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Congee</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/qxytrx1511304021.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Couscous</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/qtuwxu1468233098.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Enchilada Casserole</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/qrqywr1503066605.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Fajita Mac and Cheese</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/xrrtss1511555269.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Ham and Leek Pie</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/wyxwsp1486979827.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Handi</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/tyywsw1505930373.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Karaage</div>
                </div>
             </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-4 text-white category-grid-card">
                <img class="card-img-top" src="https://www.themealdb.com/images/media/meals/qpxvuq1511798906.jpg" alt="Card image cap">
                <div class="overlay">
                  <div class="text">Chicken Marengo</div>
                </div>
             </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="text-white mt-2 mb-2">Categories</h3>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/beef.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Beef</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark category-card category-active">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/chicken.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Chicken</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark  category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/dessert.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Dessert</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark  category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/lamb.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Lamb</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/miscellaneous.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Miscellaneous</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark  category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/pasta.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Pasta</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark  category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/beef.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Pork</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-3 text-white bg-dark  category-card">
              <img class="card-img-top" src="https://www.themealdb.com/images/category/seafood.png" alt="Card image cap">
              <div class="overlay">
                <div class="text">Seafood</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{#contentFor 'pageScripts'}}
  <link rel="stylesheet" href="pages/js/category.js" />
{{/contentFor}}
