<section class="container">
  <div class="page-spacing">
    <div class="row">
      <div class="col-md-3">
        <mat-card class="product-card">
          <img mat-card-image src="assets/images/gadget4.jpg" alt=""/>
        </mat-card>
        <mat-list class="product-left">
           <mat-list-item>
             <h3 class="mat-h3 col-md-7">Product Price</h3>
             <p class="mat-body-1 col-md-5">&#8377; 5500</p>
           </mat-list-item>
           <mat-list-item>
             <h3 class="mat-h3 col-md-7">Product Seller</h3>
             <p class="mat-body-1 col-md-5">Apple</p>
           </mat-list-item>
        </mat-list>
        <button mat-raised-button color="primary">Add To Cart</button>
      </div>
      <div class="col-md-9">
        <h2 class="mat-h2">Product Details</h2>
        <mat-list class="product-right">
          <mat-list-item>
            <h3 class="mat-h3 col-md-4">Product Name</h3>
            <p class="mat-body-1 col-md-8">LG 8K TV</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 class="mat-h3 col-md-4">Product Description</h3>
            <p class="mat-body-1 col-md-8">Just when you thought TVs couldnt get more ridiculously detailed.LG goes and announces the 88in 8K OLED panel TV ahead of CES claiming to have the largest and highest-resolution OLED panel ever.</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 class="mat-h3 col-md-4">Product Category</h3>
            <p class="mat-body-1 col-md-8">Gadgets</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <h3 class="mat-h3 col-md-4">No. of quantity available</h3>
            <p class="mat-body-1 col-md-8">5</p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>  
            <h3 class="mat-h3 col-md-4">Product Available From</h3>
            <p class="mat-body-1 col-md-8">November 10,2018</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</section>
