<div class="container">
    <div class="row mt-5">
        <div class="col-sm-6 padlr">
            <img src="assets/images/imge1.jpg" class="img-fluid">
        </div>

        <div class="col-sm-6 padlr mt-5">
          <!-- form goes here -->
          <form>

            <!-- name -->
            <div class="field">
              <input type="text" name="name" class="input col-lg-8" placeholder="Your Name">
            </div>

            <!-- email -->
            <div class="field">
              <input type="email" name="email" class="input col-lg-8" placeholder="Your Email">
            </div>

            <!-- message -->
            <div class="field">
              <textarea class="textarea col-lg-8" name="message" placeholder="What's on your mind?"></textarea>
            </div>

            <button type="submit" class="button is-danger is-large">Submit</button>

          </form>
          <div class="clearfix"></div>
        </div>
    </div>
</div>
