mat-card , mat-toolbar{
  max-width: calc(100vw - 750px);
  margin: 85px auto 0;
}

.example-full-width {
  width: 100%;
  padding-bottom:2em;
}

.button-row {
  margin: 10px 0;
}

mat-card-actions a:nth-child(3){
  float:right;
}

.list-header{
  float:left;
}

.list-para{
  float:right;
  margin-left:5px;
}

@media(max-width:992px){
	mat-card , mat-toolbar{
		max-width:96%;
		margin:auto;
	}

	mat-grid-tile{
		width:100% !important;
	}
}
